:root {
  --border: #cec5c6;
  --border-error: #dc1928;
  --primary: #d0021b;
  --radius-input: 2px;
}

.email-field, .card-holder-field, .card-number-field, .card-expiry-field, .security-code-field {
  margin-bottom: 18px;
}

#accepted-card-types label {
  margin-bottom: 8px !important;
}

form label {
  display: block;
  margin-bottom: 0;
  font-family: LetterRegular, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #807370;
  font-weight: 400;
}

.field input,
.field select {
  width: 100%;
  font-size: 14px;
  margin: 0;
  padding: 10px 14px;
  background-color: #fff;
  border-radius: var(--radius-input);
  border: 1px solid var(--border);
  line-height: 16px;
}

.field input:focus,
.field select:focus {
  outline: none;
  background: #fff;
  border-color: var(--primary);
}


.field [data-test-id="error"] {
  margin-top: 6px;
  border-color: var(--border-error) !important;
  font-size: 12px;
}
