.email-field, .card-holder-field, .card-number-field, .card-expiry-field, .security-code-field {
  margin-bottom: 18px;
}

#accepted-card-types label {
  margin-bottom: 8px !important;
}

form label {
  display: block;
  margin-bottom: 0;
  font-family: LetterRegular, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #807370;
  font-weight: 400;
}

.field input {
  width: 100%;
  font-size: 14px;
  margin: 0;
  padding: 10px 14px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #cec5c6;
  line-height: 16px;
}

.field input:focus {
  outline: none;
  background: #fff;
  border-color: #d0021b;
}

.field input.border-danger-500 {
  --error-border-color: #00FFFF;
  border-color: --error-border-color !important;
}

.field [data-test-id="error"] {
  margin-top: 6px;
  font-size: 13.6px;
  color: #d32f2f;
}

[data-test-id="error"] [role="alert"] {
  padding: 12px;
  font-size: 13.6px;
}

.zeal-button.submit-button {
  background: #dc1928;
  border: 1px solid #dc1928;
  color: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 40px;
  padding: 0 32px;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: LetterRegular, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

[data-test-id="payment-confirmation"] {
  background-color: #ffffff;
}
